<body>
  <section>
    <div class="menu-bar">
      <div class="menu-bar-title">
        <h1 class="menu-bar-title">Olá, {{ pegarPrimeiroNome() }}</h1>
      </div>
      <div class="menu-bar-buttons">
        <div class="main_action_button">
          <button mat-raised-button color="primary" class="action-button novo-quadro-button" (click)="novoQuadro()">Novo quadro</button>
          <button mat-raised-button color="primary" class="action-button" (click)="editarQuadro()">Editar</button>
          <button mat-raised-button color="primary" class="action-button" (click)="excluirQuadro()">Excluir</button>
        </div>
        <button mat-raised-button color="primary" class="logout-button" (click)="logout()">
          <mat-icon class="logout-icon" fontIcon="logout" color="primary"></mat-icon>
        </button>
      </div>
    </div>
    <mat-toolbar class="mat-toolbar" *ngIf="usuarioLogado?.quadros?.length">
      <div class="quadro-buttons">
        <button mat-raised-button color="primary" class="action-button" (click)="novaColuna()">Nova coluna</button>
        <button mat-raised-button color="primary" class="action-button" (click)="novaTarefa()">Nova tarefa</button>
      </div>
    </mat-toolbar>
    <app-quadro [abaAtiva]="abaAtiva"></app-quadro>
  </section>
</body>
