<mat-card class="task" cdkDrag [id]="idTarefa">
  <mat-card-header>
    <mat-card-title>{{titulo}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{descricao}}</p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <div class="card-action-buttons">
      <button class="card-action-button" mat-button color="accent" (click)="editarTarefa(this)">
        <mat-icon class="card-action-icon" fontIcon="edit" color="primary"></mat-icon>
      </button>
      <button class="card-action-button" mat-button color="accent">
        <mat-icon class="card-action-icon" fontIcon="delete" color="warn"></mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
