.login-box {
  width: 800px;
  height: 700px;
  background-color: rgba($color: white, $alpha: 0.1);
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  width: 400px;
  height: 380px;
  padding: 25px;
  background-color: #474747;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #474747;
  background-size: cover;
  // overflow-y: auto !important;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-input {
  margin: 30px 0px;
}

.form-input {
  width: 100%;
}
