.board-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0; // to force the columns to all bo the same size, regardless of content

  height: 750px;
  width: 300px;
  margin: 50px;
  padding: 25px;

  border-radius: 4px;

  background: rgba(white, 0.4);

}
.column-title {
  font-size: 20px;
  font-weight: 800;
  font-family: "Lato", sans-serif;
  margin-bottom: 20px;
}

.taks-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.taks-container::-webkit-scrollbar {
  width: 0;
}

.primeiro-filho {
  margin-left: 0;
}

.title-box {

}
