
@use '@angular/material' as mat;
@include mat.core();

$my-theme-primary: mat.define-palette(mat.$teal-palette, 400);
$my-theme-accent: mat.define-palette(mat.$gray-palette, 300);
$my-theme-warn: mat.define-palette(mat.$red-palette);
$contrast: mat.get-contrast-color-from-palette($my-theme-accent, 50);

$my-theme: mat.define-dark-theme((
  color: (
    primary: $my-theme-primary,
    accent: $my-theme-accent,
    warn: $my-theme-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0
));

@include mat.all-component-themes($my-theme);

/* You can add global styles to this file, and also import other style files */
@import 'main-styles.scss';
@import '../node_modules/bulma/bulma.sass';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
