.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  margin-top: 20px;

  min-width: 0;
  min-height: 0;

  .board-bar {
    background: rgba(gray, 0.5);
    padding: 8px 15px;
    .board-name {
      font-size: 20px;
      font-weight: boldl;
      color: white;
    }
  }

  .board-wrapper {
    display: flex;
    flex-grow: 1;

    .board-columns {
      display: flex;
      flex-grow: 1;
      // overflow-x: auto;
      // white-space: nowrap;

      // .board-columns::-webkit-scrollbar {
      //   height: 12px !important;
      // }

      // .board-columns::-webkit-scrollbar-thumb {
      //   background-color: #6a6a6a;
      //   border-radius: 6px;
      // }

      // .board-columns::-webkit-scrollbar-track {
      //   background-color: #f1f1f1;
      //   border-radius: 6px;
      // }
    }

  }
}
